.button {
  min-width: var(--button-min-width);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--button-gap);
  padding-block: var(--button-padding-block);
  border-radius: var(--border-radius-small);
  border: var(--button-border);
  color: var(--button-color);
  background-color: var(--button-background-color);
  cursor: pointer;
}

.button.button--large {
  --button-min-width: 163px;
  --button-padding-block: 12px;
}

.button.button--medium {
  --button-min-width: 109px;
  --button-padding-block: 8px;
}

.button.button--small {
  --button-min-width: 70px;
  --button-padding-block: 4px;
}

.button.button--main {
  --button-border: none;
  --button-color: var(--white-color);
  --button-background-color: var(--primary-color);

  &:hover {
    --button-background-color: var(--primary-light-color);
  }

  &:active {
    --button-background-color: var(--primary-dark-color);
  }

  &:disabled {
    --button-background-color: var(--disabled-color);
  }
}

.button.button--secondary {
  --button-border: 1px solid var(--primary-color);
  --button-color: var(--primary-color);
  --button-background-color: var(--white-color);

  &:hover {
    --button-border: 1px solid var(--primary-light-color);
    --button-color: var(--primary-light-color);
  }

  &:active {
    --button-border: 1px solid var(--primary-dark-color);
    --button-color: var(--primary-dark-color);
  }

  &:disabled {
    --button-border: 1px solid var(--disabled-color);
    --button-color: var(--disabled-color);
  }
}
