:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Typography */
  --h1-font-size: 29px;
  --h1-font-weight: 700;
  --h2-font-size: 22px;
  --h2-font-weight: 700;
  --h3-font-size: 18px;
  --h3-font-weight: 500;
  --h4-font-size: 16px;
  --h4-font-weight: 500;
  --body-l-font-size: 22px;
  --body-m-font-size: 18px;
  --body-s-font-size: 16px;
  --body-xs-font-size: 14px;
  --light-font-weight: 400;
  --regular-font-weight: 500;
  --bold-font-weight: 700;

  /* Colors */
  --primary-color: #9d3fe7;
  --primary-light-color: #ae60eb;
  --primary-dark-color: #6717ab;
  --primary-gradient: linear-gradient(
    159.13deg,
    #9d3fe7 -24.13%,
    #602094 132.21%
  );
  --black-color: #1a141f;
  --hint-text-color: #4b3a5a;
  --border-color: #aba7af;
  --disabled-color: #d4d2d5;
  --spacer-color: #d9d1e0;
  --spacer-light-color: #e5e0eb;
  --background-light-grey-color: #f5f3f7;
  --white-color: #ffffff;
  --inform-error-color: #d51a52;
  --inform-attention-color: #ff9500;
  --inform-approval-color: #00b998;
  --inform-link-color: #0f0bab;

  /* Button */
  --button-padding-block: 4px;
  --button-gap: 8px;

  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 12px;
  --border-radius-huge: 24px;

  /* spacing */
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --spacing-80: 80px;

  /* shadow */
  --shadow-xs: 0px 15px 10px 0px rgba(210, 192, 214, 0.07);
  --shadow-s: 0px 8px 16px 0px rgba(62, 19, 77, 0.07);
  --shadow-m: 0px 15px 30px 0px rgba(62, 19, 77, 0.07);
  --shadow-l: 0px 10px 30px 0px rgba(62, 19, 77, 0.07);
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
}

h4 {
  font-size: var(--h4-font-size);
  font-weight: var(--h4-font-weight);
}

a.link {
  /* 밑줄이랑 color를 link로 */
  text-decoration: underline;
  color: var(--inform-link-color);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

a.link:hover {
  color: #1a15d3;
}

/* 태블릿 */
@media (min-width: 768px) {
  :root {
    --h1-font-size: 32px;
    --h2-font-size: 24px;
    --h3-font-size: 22px;
    --h4-font-size: 18px;
  }
}

@media (min-width: 1024px) {
  :root {
    --h1-font-size: 44px;
    --h2-font-size: 30px;
    --h3-font-size: 22px;
    --h4-font-size: 18px;
  }
}
